# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Test and tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Git
.git/
.gitignore

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*

#build-artifacts
src/*.egg-info/
